<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21675306731-aj96ma5r4thiqpngmbjf7sr47rej1dq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21675306731-aj96ma5r4thiqpngmbjf7sr47rej1dq9</string>
	<key>API_KEY</key>
	<string>AIzaSyC0h0v2NWJA_JQHO3qX-EfhedwOIpRq0BY</string>
	<key>GCM_SENDER_ID</key>
	<string>21675306731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gagago.gagagonew</string>
	<key>PROJECT_ID</key>
	<string>gaga-go</string>
	<key>STORAGE_BUCKET</key>
	<string>gaga-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21675306731:ios:fa571078f6cf439711d8ae</string>
</dict>
</plist>